* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 12px;
    font-family: Arial, 微软雅黑, sans-serif;
    margin: 0px;
}

.header {
    position: relative;
    z-index: 999;
    width: 100%;
}

.fixed-top-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, .6) 31.25%, transparent);
}

.fixed-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.head,
.head .left {
    display: flex;
    align-items: center;
}

.head {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding: 0 .4rem 0 .3rem;
    box-sizing: border-box;
}

.head .logo img {
    display: block;
    width: 160px;
    height: 36px;
    margin-right: 35px;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.nav ul li {
    list-style: none;
    position: relative;
}

.nav ul li a {
    padding: 25px;
    height: 100%;
    color: hsla(0, 0%, 100%, .7);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.nav ul li .active {
    color: #ffd633;
}

.nav ul li::before,
.nav ul li::after {
    content: "";
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ffd633;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: all .3s;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%)
}

.nav ul li:before {
    border-bottom-color: #ffd633;
    border-top-color: transparent;
    position: absolute;
    top: 20px;
    bottom: auto;
}

.nav ul li::after {
    top: -15px;
}

.nav ul li a:hover {
    color: #ffd633;
}

.nav ul li:hover:before,
.nav ul li:hover:after {
    opacity: 1
}

.mask .videoMask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 4;
}

.mask .videobox video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.down {
    display: flex;
    height: 100%;
    align-items: center;
}

.down a {
    white-space: nowrap;
    display: block;
    height: 39px;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 20px;
    min-width: 140px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    color: hsla(0, 0%, 100%, .7);
    /* line-height: 39px; */
    font-size: 16px;
    text-decoration: none;
}

.down a img {
    width: 12px;
    height: 12px;
    transition: all .3s;
    margin-right: 5px;
}

.down a:hover {
    background: #ffd633;
    color: #212121;
}

.title {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 64px;
    line-height: 72px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: PingFang SC;
    position: relative;
    z-index: 10;
    text-shadow: 2px 4px 8px rgba(0,0,0,.3);
    width: 1200px;
    margin: 0 auto;
}
.banner-title2{
    margin: 20px auto 3px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px rgba(0,0,0,.2);
    width: 1200px;
    position: relative;
    z-index: 10;
    text-shadow: 1px 2px 3px rgba(0,0,0,.3);
}
.download{
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: wrap;
}
.download a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 130px;
    padding-top: 20px;
    background: url(../image/btn_sprites.png) no-repeat 0 0;
    background-size: 400px 520px;
    position: relative;
    margin-left: -20px;
    text-decoration: none;
}
.download a:hover{
    background-position: 0 -130px;
}
.ld-download-title{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #000;
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.ld-download-desc{
    font-size: 12px;
    line-height: 16px;
    color: #000;
    opacity: .7;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 100%;
    pointer-events: none;
}
.ld-download-desc span{
    margin-right: 10px;
}
.ld-download-desc span:last-child{
    margin-right: 0;
}